/* Style for the sidebar */
.sidenav {
    position: fixed;
    top: 20;
    left: 0;
    /* Displayed by default */
    width: 90px;
    height: 100%;
    background-color: transparent;
}

/* Style for navigation buttons container */
.nav-buttons {
    display: flex;
    flex-direction: column;
}

/* Style for navigation buttons */
.nav-button {
    background-color: #444;
    /* Remove background color */
    color: #fff;
    padding: 15px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    position: relative;
    border: none;
    /* Remove borders */
    text-align: left;
    /* Align text to the left */
    margin-bottom: 10px;
    /* Add space between buttons */
    height: 18.5px;
}

.nav-button:first-child {
    margin-top: 30px;
}

.nav-button:nth-child(1) {
    background-color: #045311;
}

.nav-button:nth-child(2) {
    background-color: #0074d9;
    /* Blue */
}

.nav-button:nth-child(3) {
    background-color: #d9534f;
    /* Red */
}

/* Style for button description */
.description {
    display: none;
    background-color: #444;
    color: #fff;
    padding: 15px;
    /* Match the button's padding */
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

.description a {
    text-decoration: none;
    color: inherit;
}

/* Show description when button is hovered */
.nav-button:hover .description {
    display: block;
}

/* Style for content area */
.content {
    margin-left: 170px;
    /* Shift content to the right */
    padding: 20px;
    transition: margin-left 0.3s;
}

.nav-button:nth-child(1) .description {
    background-color: #045311;
    color: #fff;
}

.nav-button:nth-child(2) .description {
    background-color: #0074d9;
    color: #fff;
    /* Blue */
}

.nav-button:nth-child(3) .description {
    background-color: #d9534f;
    color: #fff;
    /* Red */
}