.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}


.custom-table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}


.custom-table td {
    border: none;
    padding: 10px;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}